* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: white;
    align-items: center;
    background-color: black;
}

header {
    padding: 20px;
    font-size: 30px;
}

footer {
    text-decoration: none;
    padding: 20px;
}

footer a {
    text-decoration: none;
    margin: 10px;
}

footer li {
    display: inline;
}

footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.Secret {
    background-color: yellow;
    color: black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    align-items: center;
}

.Secret input {
    background-color: transparent;
    color: black;
}

.Secret button {
    background-color: transparent;
    color: black;
    border-color: transparent;
}

.Buster {
    font-size: 99px;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.Buster0 {
    font-size: 99px;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.Congratulations {
    font-size: 99px;
    text-align: center;
}

.CongratulationsSub {
    font-size: 45px;
    text-align: center;
}

.hidden {
    display: none;
}